{
  "semi": false,
  "$schema": "https://json.schemastore.org/prettierrc",
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./app/assets/css/tailwind.css",
  "tailwindFunctions": ["cn", "clsx", "cva", "tv"]
}
